@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&display=swap');

body{
    min-height: 650px;
    max-height: 2200px;
    background-color: #FFFFFF;
}

header{
    height: 100px;
    background-color: #F6F8FF;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header img{
        margin-left: 35px; 
    }
    
    nav a{
        text-decoration: none;
        color: #000;
        border-radius: 2px #000;
        padding: 12px;
        margin-right: 35px;
    }

    #frase{
        height: 50px;
        font-family: "Irish Grover", system-ui;
        font-weight: 400;
        font-size: 18px;
        color: purple;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 35px;
    }
    
    #presentacion{
        width: 1200px;
        height: 650px;
        background-image: url(../Audiovisual/colores.png);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    #presentacion h1{
        width: 1200px;
        font-family: "Irish Grover", system-ui;
        font-weight: 400;
        font-size: 102px;
        background-color: rgba(245, 247, 255, 0.824);
        margin-top: 100px;
        margin-bottom: 1px;
        display: flex;
        justify-content: center;
    }

    #presentacion p{
        font-family: "Inter", sans-serif;
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin-top: 1px;
    }

    #boton{
        width: 120px;
        border-radius: 20px;
        background-color: whitesmoke;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
    }

    #boton a{
        text-decoration: none;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        color:#000;
    }

    #boton:hover{
        background-color: rgb(71, 222, 172);
    }

main{
    width: 1150px;
    min-height: 2200px;
    margin: auto;
}


    h2{
        font-family: "Irish Grover", system-ui;
        font-weight: 400;
        font-size: 35px;
    }

        #clases h2{
        color: rgb(202, 67, 0);
        width: 200px;
        border-radius: 30px;
        font-size: 34px;
        text-align: center;
        margin: 70px;
        padding: 5px;
        width: auto;
        /*text-decoration: underline rgba(222, 103, 59, 0.68);*/
        }
        

        main h1{
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: rgb(2, 68, 30);
            margin: auto;
            margin-top: 15px;
            margin-bottom: 2px;
            text-align: center;
        }

        main p{
            font-family: "Inter", sans-serif;
            font-size: 15px;
            text-align: center;
        }

        #cuerdas{
            display: flex;
            justify-content: space-between;
            height: 570px;
        }   

        #cuerdas article{
            width: 350px;
            height: 530px;
        }

        #vientos{
            display: flex;
            justify-content: space-between;
            height: 570px;
        }   

        #vientos article{
            width: 350px;
            height: 530px;
        }

        #composicion h1{
            text-align: left;
            margin-left: 20px;
        }

        #composicion p{
            text-align: left;
            margin-left: 20px;
        }

        #teoriaycompo{
            display: flex;
            justify-content: left;
        }

        #teoriaycompo2{
            text-align: left;
            width: 650px;
            height: 350px;
        }

        #teoriaycompo2 article{
            margin-bottom: 20px;
            padding: 10px;
        }


        #botones{
            font-family: "Inter", sans-serif;
            width: 902px;
            height: 10px;
            margin: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 131px;
            margin-bottom: 35px;
        }
        #botones a{
            text-decoration: none;
            font-weight: 500px;
            font-size: 25px;
            text-align: center;
        }
        #boton1{
            width: 275px;
            height: 110px;
        }
        #boton1 a{
            color: rgb(18, 17, 16);
            padding: 20px;
            background-color: #FF8128;
            border-radius: 11px;
        }
        #boton1 a:hover{
            color: rgb(115, 60, 12);
            background-color: #ff822891;
        }

        #boton2{
            width: 410px;
            height: 110px;
        }
        #boton2 a{
            color: #2d2d2d;
            padding: 20px;
            border: 2px solid #2d2d2d;
            background-color: #f28c4381;
            border-radius: 11px;
        }
        #boton2 a:hover{
            color: rgb(21, 12, 0);
            background-color: #f28c4381;
            border: 2px solid rgb(197, 122, 25);
        }
        #final{
            margin: auto;
            margin-top: 45px;
            text-align: right;
        }
        #consultas a{
            font-family: "Inter", sans-serif;
            text-decoration: none;
            color: #2d2d2d;
            width: 104px;
            padding: 20px;
            /*border: 1px solid #2d2d2d;*/
            background-color: #53656848;
            border-radius: 11px;
            text-align: center;
        }
        #consultas{
            margin: auto;
            margin-top: 15px;
            display: flex;
            justify-content: right;
        }

        

footer{
    height: 131px;
    background-color: #F6F8FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px; 
}

footer a{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border-radius: 2px #000;
    padding: 15px;
}